/*
*	##############################
*	CSS for gebf2015.de
*	Author: Manuel Buczka
*	Mail: mauel.buczka@rub.de
*	Created: 24.06.2014
*	Last Edit: 01.10.2014
*	Version: 1.0
*	Status: Release
*	------------------------------
*	Git: https://otauk@bitbucket.org/otauk/gebf_2015.git
*	------------------------------
**	##############################
*/

/*
* 	++++++++++++++++++++++++++++++
*	LAYOUT
* 	++++++++++++++++++++++++++++++
*/

* {
	margin:0;
	padding:0;
	}

body {
	color: #333;
	font-size:1em;
	font-family: "Arial", sans-serif;
	line-height:2em;
	background:#fff;
	overflow-y:scroll;
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	}

p {
	padding-bottom: 1em;
}
/*
*	Standards
*/
.left {
	float:left;
	text-align: left;
}

.right {
	float:right;
	text-align: right;
}

.center {
	text-align:center;
	display:block;
	}

.row {
	display:block;
	float:left;
	position:relative;
	width:100%;
	}

.cell {
	float:left;
	left:100%;
	position:relative;
	}

.w25 {width:25%;}
.w33 {width:33%;}
.w40 {width:40%;}
.w50 {width:50% !important; }
.w66 {width:66%;}
.w75 {width:75%;}
.w100 {width:100%;}

.smaller {
	font-size:60%;
}

.bigger {
	font-size:120%;
}
.edit {border:1px dashed red;padding:0.5em;}
.green {color: rgb(146,171,16); font-weight:bold;}

.wrapper {
		margin:0 auto;
		width:850px;
	}

/* Tablets */
@media only screen and (min-width:760px) {
	.wrapper {
		max-width:88%;
	}
}

/* Monitore */
@media only screen and (min-width:1280px) {
	.wrapper {
		max-width:900px;
	}
}


.header {
	margin-top:1em;
	height: 10em;
	width:100%;
	}

/*
*	Header-Elemente
*/
.header-top {
	width:100%;
	height:3em;
}

.header-top-left {
		background: url("../img/gebf_logo.png") left top no-repeat;
		float:left;
		height: 100%;
		width: 12em;
}

.header-top-right {
	background: url("../img/PSE_logo_small.png") right top no-repeat;
	float: right;
	height: 100%;
	width:13em;
}

.header-el {
		width:100%;
		height: 150px;
		background: rgb(146,171,16);
		z-index:0;
		position: relative;
}

.header-el1{
	background: rgb(104,103,103);
	width:3em;
	height: 100%;
	float:left;
	border-right: 2px solid #fff;
}

.header-el2{
	float: left;
	height: 100%;
	}

.header-el2-font {
	font-size:275%;
	line-height: 1em;
	color:#fff;
	padding:0.75em 0 0 0.5em;
	font-weight:600;
}

.header-el3 {
	background: url("../img/header_number.png") right top no-repeat;
	width:6em;
	height: 100%;
	float:right;
	border-left: 2px solid #fff;
	}

.main {
	clear: both;
	}

.navi {
	margin:2.6em 0em;
	width:17em;
	float: left;
		}

.content {
	margin-left: 17em;
	}

.text {
	text-align:justify;
	padding:0.5em 0.5em 7.5em 0.5em;
	border-left:1px solid #efefef;
	line-height:1.5em;
	font-size:85%;
	}

.text ul {
	margin:0;
	text-align:left;
	padding:0.5em;
	line-height:1.75em;
	}

.text li {
	list-style-type:none;
	background:transparent;
	padding-left:1em;
	text-indent:-1em;
	margin-left:1em;
	}

.text li:before {
	font-family:"FontAwesome";
	content:"\f101";
	padding-right:0.5em;
	color: rgb(146,174,16);
	}


.footer {
	clear:both;
	position: relative;
	}

.footer-pic {
	background:url("../img/foot_01.png")  no-repeat;
	height:250px;
	width:445px;
	position: absolute;
	z-index:100;
	left:330px;
	top:-100px;
	}

.footer-el {
		width:100%;
		height: 150px;
		z-index:0;
		position: relative;
		background: rgb(146,174,16);
}

.footer-el1 {
	background: rgb(104,103,103);
	width:3em;
	height: 100%;
	float:left;
	border-right: 2px solid #fff;
}

.footer-el2 {
	float: left;
	height: 100%;
}

.footer-el3 {
	background: url("../img/header_number.png") right top no-repeat;
	width:6em;
	height: 100%;
	float:right;
	border-left: 2px solid #fff;
	}

.width-1_4 {
	width:25%;
	}

.width-3_4 {
	width: 75%;
	}


a {
	color:#333;
	text-decoration: none;
	}

a:hover {
	color:rgba(0,53,96,1.0);
	}

.text a {
	color:rgb(141,174,16);
	}

.text a:hover {
	background-color:rgb(101,101,101);
	color:#fff;
	}

h1, h2, h3, h4, h5 {
	color:rgb(104,103,103);
	text-align:left;
}

h1 {
	font-size:175%;
	border-bottom:3px solid rgba(141,174,16,0.8);
	padding:0.5em 0 0.25em 0;
	margin-bottom:0.5em;
	}

h2 {
	font-size:150%;
	border-left:3px solid rgba(141,174,16,0.8);
	margin:1em 0em 0.5em 0em;
	padding-left:0.25em;
	}

h3 {
	font-size:125%;
	font-weight:normal;
	color:rgba(141,174,16,0.8);
	}

.searchbox {
	padding: 0.5em;
	margin-top:0.5em;
}

.form_btn {
	display:inline-block;
	padding:0.5em;
	background: #f9f9f9;
	border:1px solid #ececec;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	color:#333;
	}

.form_btn:hover {
	display:inline-block;
	padding:0.5em;
	background-color:rgb(141,174,16);
	color:#fff;
	border:1px solid #ececec;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	}


.textfield {
	padding:0.5em;
	margin-bottom:0.5em;
	border: 1px solid #e7e7e7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	font-family: Arial, sans-serif;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	}

.textfield:hover, .textfield:focus {
	border-color: #8dae10;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(141,174,16,0.16);
    outline: 0 none;
	}

/*
*	########################
*	Navigation
*	########################
 */

.navi > li {
	display:block;
	position:relative;
	}

.navi > ul, .navi > ul ul {
	line-height:2em;
	margin:0;
	list-style-type:none;
	}

.navi > li:hover,
.navi > li:active,
.navi > li:focus,
.navi > a > li:hover,
.navi > a > li:active,
.navi > a > li:focus,
.navi > li > ul > a > li:hover ,
.navi > li > ul > a > li:active ,
.navi > li > ul > a > li:focus
	{
	background-color:rgb(141,174,16);
	color:#fff;
	cursor:pointer;
	}

.navi > li > ul ,
.navi > li > ul:active ,
.navi > li > ul:focus
	{
	background-color:white;
	}

.navi > li > ul > a > li:before{
	font-family: "FontAwesome";
	content: "\f054";
	width:1.28571em;
	}

.navi ul ul {
	display: none;
	color:#333;
	padding-left: 0.5rem;
	}

.more:after {
	float: right;
	font-family: "FontAwesome";
	content: "\f107";
	width:1.28571em;
}



/*
*	Mobile
*/


#mobile_navi {
	display:none;
	}
/*


/* Tables */
table {
	border-collapse:collapse;
	width:100%;
	font-size:100%;
	}

table tr {
	vertical-align: top;
	line-height:1.5em;
	border-bottom:1px solid rgb(104,103,103);
	}

table th {
	font-weight: normal;
	font-size:115%;
	border-bottom: 1px solid rgb(141,174,16);
}

table td {
	padding:0.5em 1em 0.5em 0;
	}

.newsdate {
	font-size:115%;
	color: rgb(104,103,103);
	text-align:right;
	border-bottom: 1px solid rgb(141,174,16);
	margin:1em 0 0.5em 0;
	}

.shadow {
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 12px #333;
}

.readmore, .readmore2, .readmore3, .readmore4 {
	cursor:pointer;
}
.readmore:before, .readmore2:before, .readmore3:before, .readmore4:before {
	content: "+ mehr";
	background:rgb(141,174,16);
	color:#fff;
	padding:0.25rem;
	}

.readmore.contract:before, .readmore2.contract:before, .readmore3.contract:before, .readmore4.contract:before {
	content: "- weniger";
}

.expander, .expander2, .expander3, .expander4 {
		padding: 0.5rem;
		border:1px solid rgb(104,103,103);
		box-shadow: 1px 1px 5px #333;
		margin-bottom: 1rem;
}

